@model IEnumerable<Test.Models.DB.Tbcourier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Couriers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guidcourier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Guidcourier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Guidcourier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
